<div class="head" [@fadeInFast]="wait">
  <div class="head-title">
    <h1>Yannick Benchimol</h1>
    <h2>Développeur Web</h2>
  </div>
  <!--TODO: créer component-->
  <div class="btn-cv">
    <!--btn-collapse modal-->
    <a class="waves-effect waves-light btn yellow darken-3">CV Vidéo <i class="material-icons left">play_arrow</i></a>
    <!--Btn-télécharger-->
    <a class="waves-effect waves-light btn yellow darken-3" href="assets/img/Yannick_Benchimol_Developpeur_Web_tel-0760649353.pdf" download="Yannick_Benchimol_Developpeur_Web_tel-0760649353.pdf">CV pdf <i class="material-icons right" >picture_as_pdf</i></a>
  </div>

  <app-socials-icon></app-socials-icon>
</div>



