
.about-container{
  height: 100%;
  background-color: white;
  overflow: scroll;
}
.about-container li{
  text-align: center;
}
.about-container h5{
  font-size: small;
  text-align: center;
}
.about{
  padding: 50px;

}
.technos{
  background: url("../../assets/img/bkg-skill.png") fixed center;
  background-repeat: no-repeat;
  background-size: cover;
}
.technos-container{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.53);
  color: white;
}
.technos-container h4{
  margin-top: 0;
}
.technos-container ul{
  flex-wrap: wrap;
}
.technos-container li{
  width: 25%;
}
.second{
  padding: 20px;
}
