<div class="contacts-page">
  <h3 class="header-views">{{dataPage.name}}</h3>
  <!--<i class="fa fa-hand-o-right fa-5x linkedin" aria-hidden="true"></i>-->
  
  <div class="left-side card" [@envelopeAnimation]="onEnvelope">

    <h4 class="linkedin">{{data.firstName}} {{data.name}}</h4>
    <div class="contacts-personnals">
      <div><i class="material-icons">smartphone</i><span>{{data.phone}}</span></div>
      <div><i class="material-icons">contact_mail</i><span>{{data.mail}}</span></div>
    </div>
    <div class="social-contacts">
      <p>
        retrouvons-nous sur :
      </p>
      <div class="social-icons flex-row space-around">
        <a *ngFor="let link of data.social" class="{{link.name}}" href="{{link.link}}" target="_blank"><i class="fa {{link.icon}} fa-2x" aria-hidden="true" target="_blank"></i></a>
      </div>
    </div>
  </div>

</div>
<img class="my-photo" src="assets/img/demi-portrait-right.png" alt="portrait_right">
<p [@fadeIn]="onEnvelope" class="soon">À très bientôt !</p>
