
  
  <ul>
    <li [routerLink]="['/accueil']" routerLinkActive="active-link"><span>Accueil</span></li>
    <li [routerLink]="['/about']" routerLinkActive="active-link"><span>À propos de moi</span></li>
    <li [routerLink]="['/a']" routerLinkActive="active-link"><span>Compétences</span></li> <!--présentation des technos-->
    <li [routerLink]="['/b']" routerLinkActive="active-link"><span>Parcours</span></li>
    <li [routerLink]="['/c']" routerLinkActive="active-link"><span>Projets</span></li>
    <li [routerLink]="['/contacts']" routerLinkActive="active-link"><span>Contact</span></li>
  </ul>
  

<div class="open-nav-icon">
  <i   class="fa fa-chevron-right open-nav-icon" aria-hidden="true"></i>
</div>

