<p>
  retrouvons-nous sur :
</p>
<div class="social-icons flex-row space-between">
  <a href="https://www.linkedin.com/in/yannick-benchimol-4b9a8592" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" target="_blank"></i></a>
  <a href="https://twitter.com/pitipiaf" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" ></i></a>
  <a href="https://github.com/tipyaf" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
  </a>
  
  
</div>


